<div class="row btns">
  <button class="col-lg-1 btn btn-discord" onclick="window.open('https://discord.gg/FaqbBAT')"><i class="fab fa-discord"></i> Discord <i class="fas fa-chevron-right"></i></button>
  <button class="col-lg-1 btn btn-github" onclick="window.open('https://github.com/TritiumNetworks')"><i class="fab fa-github"></i> Github <i class="fas fa-chevron-right"></i></button>
  <button class="col-lg-2 btn btn-detail" onclick="showDetail()">TriNet이 뭐죠 <i class="fas fa-question"></i>&nbsp;&nbsp;<i class="fas fa-chevron-right"></i></button>
</div>