<div class="title">
  <span class="title-letter title-accent">T</span>
  <span class="title-letter title-accent">r</span>
  <span class="title-letter title-accent">i</span>
  <span class="title-letter title-nonAccent">t</span>
  <span class="title-letter title-nonAccent">i</span>
  <span class="title-letter title-nonAccent">u</span>
  <span class="title-letter title-nonAccent">m</span>
  <span class="title-letter title-nonAccent">&nbsp;</span>
  <span class="title-letter title-accent">N</span>
  <span class="title-letter title-accent">e</span>
  <span class="title-letter title-accent">t</span>
  <span class="title-letter title-nonAccent">w</span>
  <span class="title-letter title-nonAccent">o</span>
  <span class="title-letter title-nonAccent">r</span>
  <span class="title-letter title-nonAccent">k</span>
  <span class="title-letter title-nonAccent">s</span>

  <div class="title-people">
  </div>
</div>
