<!-- Required meta tags -->
<meta charset="utf-8">
<link rel="shortcut icon" href="/src/favicon.png" type="image/x-icon">

<!-- https://github.com/ttakkku/html-meta/blob/master/index.html -->
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="https://trinets.xyz">
<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#FFFFFF">
<meta name="application-name" content="Fact Maker">
<meta name="twitter:image:src" content="/src/favicon.png">
<meta name="twitter:creator" content="TriNet / PMH">
<meta name="twitter:site" content="https://trinets.xyz">
<meta name="twitter:title" content="Fact Maker">
<meta name="twitter:card" content="Fact Maker">
<meta name="og:site_name" content="Fact Maker">
<meta property="og:type" content="website">
<meta property="og:url" content="https://trinets.xyz">
<meta property="og:title" content="Fact Maker">
<meta property="og:description"content="Programition Facts">
<meta property="og:image" content="/src/favicon.png">
<meta property="og:locale" content="ko-kr">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1213a7cbad.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.1.0/lib/anime.min.js"></script>
