@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

input { 
  text-rendering: auto;
  color: unset;
  text-align: center;
  background-color: transparent;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px 'Noto Serif';
  padding: 0px;
  border: none;
}

input:focus {
  outline: none;
}

.cst-container {
  padding: 5px;
}

.disp-container {
  width: 100%;
  text-align: center;
  font-family: 'Noto Serif';
}

.here {
  text-decoration: none;
  color: #b4e9de;
}

.here:hover {
  text-decoration: none;
  color: #6bedd4;
}

.submission {
  color: white;
  font-family: serif;
}

.disp-container > .tops {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 6.5vw;
  font-weight: 150;
  color: white;
}

.disp-container > .bottoms {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 2.7vw;
  color: #b0b0b0;
}
