<!doctype html>
<html lang="en">
  <head>
    <title><%- layout('name_seal') %></title>
    <%- layout('meta.html') %>
    
    <link rel="stylesheet" href="/src/css/main.css">
  </head>
  <body>
    <div class="cst-container">
      <div class="name_seal">
        <%- layout('name_seal') %>
      </div>
    </div>
 
    <script src="/src/js/main.js"></script>
  </body>
</html>